/* img {
  width: 13rem;
  height: 6rem;
  object-fit: fill;
  border-radius: 1rem;
} */

.restaurants {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  padding: 2%;
  flex: 0 29%;
  display: flex;  
  flex-flow: column wrap;
}

.restaurant-img>img {
  /* set default thumbnail size here */
  max-width: 100%;
}

.restaurant-info {
  margin-left: 1rem;
}

.no-results {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}
