label {
  display: block;
}

fieldset {
  border: none;
}
label {
  display: block;
}

fieldset {
  border: none;
}

.container {
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2rem;
}


form {
  margin: auto;
  text-align: center;
}

fieldset > label {
  text-align: left;
}

input {
  width: 100%;
}

button {
  width: 90%;
}
.container {
  max-width: 16rem;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2rem;
}


form {
  text-align: center;
}

fieldset > label {
  text-align: left;
}

input {
  width: 100%;
}

button {
  width: 90%;
}